<?xml version="1.0"?>
<model>
  <name>course_gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Stefano Colli</name>
    <email>stefano@auterion.com</email>
  </author>
  <description>Course gimbal: PX4 CGO3 with A8-mini-like optics and joint state feedback</description>
</model>
